.changePassword{
	color: #66615b;
}
.changePassword:hover{
	cursor: pointer;
	color: #252422;
	text-decoration: underline;

}

@media (min-width: 992px){
    .typo-line{
        padding-left: 140px;
        margin-bottom: 40px;
        position: relative;
    }

    .typo-line .category{
        transform: translateY(-50%);
        top: 50%;
        left: 0px;
        position: absolute;
    }
}

.icon-section {
	margin: 0 0 3em;
	clear: both;
	overflow: hidden;
}
.icon-container {
	width: 240px;
	padding: .7em 0;
	float: left;
	position: relative;
	text-align: left;
}
.icon-container [class^="ti-"],
.icon-container [class*=" ti-"] {
	color: #000;
	position: absolute;
	margin-top: 3px;
	transition: .3s;
}
.icon-container:hover [class^="ti-"],
.icon-container:hover [class*=" ti-"] {
	font-size: 2.2em;
	margin-top: -5px;
}
.icon-container:hover .icon-name {
	color: #000;
}
.icon-name {
	color: #aaa;
	margin-left: 35px;
	font-size: .8em;
	transition: .3s;
}
.icon-container:hover .icon-name {
	margin-left: 45px;
}

.places-buttons .btn{
    margin-bottom: 30px
}
.sidebar .nav > li.active-pro{
    position: absolute;
    width: 100%;
    bottom: 10px;
}
.sidebar .nav > li.active-pro a{
    background: rgba(255, 255, 255, 0.14);
    opacity: 1;
    color: #FFFFFF;
}

.table-upgrade td:nth-child(2),
.table-upgrade td:nth-child(3){
    text-align: center;
}



#changePasswordModal{
	margin: 20vh auto;
	width: 70%;
}

#addNewProduct,#discount{
	margin:8vh auto;
	width: 70%;
}
.card form [class*="col-"]:first-child {
    padding-left: 6px;
}
.card form [class*="col-"]:last-child {
    padding-right: 6px;
}


@media (max-width: 992px){
	.modal-backdrop{
		display: none;
	}
}

/*Dropdown*/



.anch, .inp-anch {
    height: 40px;
    border: none;
}
.anch-kerko {
    width: 100%;
}

.anch {
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 10px;
    border: 1px solid #CCC5B9;
    border-radius: 4px;
    background-color: #fffcf5;
    color: #ccc5b9;
}
.anch-kerko {
    width: 100%;
}
.dropdown-check-list {
    display: inline-block;
}
.dropdown-check-list ul.items, .dropdown-check-list ul.items2 {
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    background: white;
    position: absolute;
    z-index: 99;
    min-width: 96%;
}
input[type="checkbox"] {
    height: 20px;
    width: 20px;
    -webkit-appearance: initial;
    background-color: white;
    border-radius: 2px;
    border: 1px solid #cecece;
}
.items li span {
    margin-left: 10px;
}
.items li{
    margin-left: 5px;
}
.items{
	overflow-y: scroll;
    height: 150px;
}
input[type="checkbox"]:checked::after {
    content: "✓";
    margin-left: 2px;
    color: #000000;
}
input[type="checkbox"]:not(checked)::after {
    content: "✓";
    margin-left: 2px;
    color: #ffffff;
}
ul{
	list-style: none;
}
.check
{
    opacity:0.5;
    background-color: #d6d6d6;
    color:#996;
    
}

.imgchecked::before{
    position: absolute;
    content: "\f00d";
    font-family: FontAwesome;
    left: 10px;
    top: 5px;
    font-size: 21px;
}
.imgContainer{
    width: 100px;
    height: 100px;
}
.editProductImages{
    margin-bottom: 50px;
}
.nomargin{
    margin: 0px;
}

#changeCover{
  position: absolute;
  right: 10px;
  opacity: 0;
}
#changeProfile{
  position: absolute;
  right: 20%;
  top: 30%;
  z-index: 100;
  opacity: 0;
}

.image:hover > #changeCover{
    opacity: 1;
}
.author:hover > #changeProfile{
    opacity: 1;
}

.message-row{
    display: block;
    background-color: #f4f3ef;
    height: 35px;
    line-height: 35px;
    color: rgba(0, 0, 0, 0.6);
    padding-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 70vw;
    overflow: hidden;
}
.username-row{
    display: block;
    padding-left: 10px;
}

.messages-table tbody tr{
    background: rgba(0, 0, 0, 0.08);
}
.messages-table tbody tr td a{
    color: inherit;
}
.all-messages{
    max-height: 350px;
    padding: 0 10px 0 10px;
    overflow-y:scroll;
}
.from-me{
    margin-left: 40%;
    text-align: right;
    width: 60%;
    display: inline-block;
    background: green;
    border-radius: 10px;
    margin-top: 10px;
    padding-right: 20px;
}
.from-me1{
    margin-top: 2px;
}
.from-other{
    text-align: left;
    width: 60%;
    display: inline-block;
    background: red;
    border-radius: 10px;
    margin-top: 10px;
    padding-left: 20px;
}
.from-other1{
    margin-top: 2px;
}
.from-me,.from-other{
    min-height: 25px;
    line-height: 25px;
    word-break: break-all;
}
.sendmessageInput{
    width: 60%;
    display: inline-block;
}
.newmsg{
    position: absolute;
}





